

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-white: #FFFFFF;
    --color-light: #F6F6F6;
    --color-light-gray: #C7C7C7;
    --color-gray: #686868;
    --color-dark-gray: #4D4D4D;
    --color-light-black: #313131;
    --color-black: #000000;
    --color-light-brand: #CDF3E8;
    --color-brand: #4ED5AC;
    --color-dark-brand: #3CA887;
    --color-foot: #25686D;
    --color-green: #1DC622;
    --color-light-green: #4ED54E;
    --color-red: #A12828;
    --color-light-red: #FF0000;
    --color-orange: #FF9100;
    --color-blue: #5FB5F6;
    --color-purple: #DE5FF6;

    --blue-color: #50b596;
    --blue-text-color: #25686D;
    --primary-color: #f6f6f6;
    --secondary-color: #e2e2e2; 
    --third-color: #0d0d0d;
    --fourth-color: #CFCFCF;
}

@font-face {
  font-family: 'Montserrat', sans-serif;  
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

body {
  overflow-x: hidden;
}


#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;                                                                                                                                                                                        
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "head head head head head head head head head head"
  "nav nav info info info info info info info info"
  ;
  margin: 0 14vw 5rem 14vw;
}

.tabs-section__heading {
  grid-area: head;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--color-brand);
  border-radius: 1rem 1rem 0 0;
  padding: 0 0 0 1rem;
}

.tabs-section__heading {
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: bold;
}

.tabs-ul {
  grid-area: nav;
}

.grid-area-info {
  grid-area: info;
  width: 100%;
  background-color: var(--color-light);
}

.tabs-li {
  display: flex;
  align-items: center;
  color: white;
  height: 3rem;
  width: 100%;
  background-color: var(--color-light-black);
  position: relative;
  cursor: pointer;
}

.btn-tab__grayline {
  position: absolute;
  height: .2rem;
  width: 100%;
  background-color: var(--color-gray);
  bottom: 0;
  left: 0;
}

.btn-tab__brandline {
  display: none;
  position: absolute;
  width: .2rem;
  height: 100%;
  background-color: var(--color-brand);
  bottom: 0;
  right: 0;
  z-index: 1;
}

.tabs-name {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  transition: all .2s ease-in-out;
}

.tabs-name:hover {
  background-color: var(--color-black);
}

.tabs-name:hover .btn-tab__brandline {
  display: flex;
}

.sub-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "info info info info img img img img"
  ". . . . img img img img"
  "btn btn btn btn img img img img"
  ;
  width: 100%;
  height: 100%;
  position: relative;
}

.issue__info-contains {
  grid-area: info;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.issue__heading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-brand);
  text-align: left;
  margin-bottom: 1rem;
}

.issue__text {
  text-align: left;
}

.issue-btn__container {
  grid-area: btn;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.issue-btn__left {
  display: flex;
}

.btn__rating {
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid .15rem var(--color-orange);
  border-radius: .5rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--color-black);
}

.btn__rating-icon {
  transition: transform .3s ease-in-out;

}

.btn__rating:hover .btn__rating-icon {
  transform: rotate(90deg);
}

.btn__rating-icon-filled {
  display: none;
}

.btn__rating:focus .btn__rating-icon {
  display: none;
}

.btn__rating:focus .btn__rating-icon-filled {
  display: flex;
  transform: rotate(90deg);
}

.btn__sugg-edit {
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  width: 10rem;
  border: solid .15rem var(--color-brand);
  border-radius: .5rem;
  height: 3rem;
  margin-right: 1rem;
}

.btn__sugg-edit-txt {
  padding: 0rem .5rem;
  color: var(--color-brand);
  font-size: 1rem;
}

.btn__sugg-edit-icon {
  width: 2rem;
  font-weight: 500;
}

.btn__full-guide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: var(--color-brand);
  height: 3rem;
  width: 10rem;
  padding: 0rem 1rem;
  border-radius: .5rem;
  color: var(--color-white);
  font-size: 1.2rem;
  transition: all .2s ease-in-out;
}

.btn__full-guide:hover {
  background-color: var(--color-light-black);
  color: var(--color-white);
}


.issue__image {
  grid-area: img;
  width: 100%;
  background-image: url(../Nozzles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* FORUM AND TABS RESTYLE */



/* ISSUE INTRO */

.issue-intro {
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-family: 'Montserrat', sans-serif;
}

.issue-heading {
  width: 100%;
  text-align: left;
  background-color: var(--color-brand);
  padding: 1rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 7px 7px 0 0;
}

.issue-content {
  display: flex;
  flex-direction: row;
}

.issue-content__desc {
  width: 100%;
  height: 25rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
}

.issue-content__gallery {
  display: grid;
  width: 100%;
  height: 25rem;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  'main main second'
  'main main third';
}

.issue-content-gallery__image-main {
  grid-area: main;
}

.issue-content-gallery__image-second {
  grid-area: second;
}

.issue-content-gallery__image-third {
  grid-area: third;
}

.issue-content-desc__tags {
  text-align: left;
  display: flex;
}

.issue-content-desc-tags__tag {
  font-family: montserrat;
  margin: 1.5rem 0.2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.main-tag {
  color: var(--color-brand);
}

.issue-content-desc_text {
  text-align: left;
}

.icons-seperator {
  height: 100%;
  display: flex;
  flex-direction: column;
justify-content: space-between;
}

.issue-content-desc__icons {
  display: flex;
  justify-content: flex-end;
}

.issue-content-desc-icons__icon {
  margin: 0 0.5rem;
  width: 2rem;
}

.issue-content-desc-icons__icon img {
  width: 100%;
}

/* CAUSES AND SOLUTIONS */

.cause-solutions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.causes-container, .solutions-container {
  width: 49.5%;
}

.causes-container__heading-flex, .solutions-container__heading-flex {
  display: flex;
  background-color: var(--color-light-black);
  color: var(--color-white);
  border-radius: 7px 7px 0 0;
  padding: 0.2rem;
  width: 100%;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.causes {
  display: flex;
  text-align: left;
  width: 100%;
  font-size: 1.4rem;
  padding: 1.1rem 0;
  font-weight: 600;
  border-bottom: 3px solid var(--color-red);
  align-items: center;
}

.solutions {
  display: flex;
  text-align: left;
  width: 100%;
  font-size: 1.4rem;
  padding: 1.1rem 0;
  font-weight: 600;
  border-bottom: 3px solid var(--color-green);
  justify-content: space-between;
  align-items: center;
}

.cause {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.causes-forum-link {
  width: auto;
  display: block;
  text-align: left;
  justify-self: flex-start;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.causes-forum-link:hover {
  color: var(--color-brand);
}

/* EXPLANATIONS STYLING */

.explanations-wrapper {
  background-color: white;
  margin: 4rem 0 2rem 0;
  border-radius: 0.5rem;
}

.explanations__problem-container {
  display: flex;
  flex-direction: column;
}

.explanations__caption-layout {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  background-color: var(--color-brand);
  padding: 0.5rem 1.5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 7px 7px 0 0;
  
}

.explanations__caption-layout-heading {
  font-size: 1.4rem;
  color: var(--color-white);
  font-weight: bold;
  margin-left: 1rem;
}

.explanation-text {
  font-size: 1rem;
  margin: 2rem 0 1rem 1.5rem;
  text-align: left;
}

.explanations__question-icon {
  background-color: var(--color-brand);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: 2.4rem;
  height: 2rem;
}

/* COMMENTS EXTRA STYLING */

.comments[data-v-5e74abe9] .commentBox>button, .comments[data-v-5e74abe9] .commentBox .remainingLetter {
  background-color: var(--color-brand);
}

.comments[data-v-5e74abe9] .commentBox>button, .comments[data-v-5e74abe9] .commentBox .remainingLetter {
  background-color: var(--color-brand);
}

.comments[data-v-5e74abe9] .commentBox>button:hover {
  background-color: var(--color-black);
}

.userName {
  text-align: left;
}

.logOut {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  border-radius: 7px;
  padding: 1em;
}

.remainingLetter {
  background-color: #25686D;
  display: none;
  position: absolute;
  right: -10vw;
  background: #25686D;
}


.comment-container-related {
  display: flex;
  justify-content: space-between;
  
}

.comments-forum {
  width: 50%;
}

.relatedposts {
  width: 40%;
  border-radius: 7px;
}

.relatedposts-heading {
  font-weight: 600;
  background-color: var(--color-brand);
  color: var(--color-white);
  padding: 1rem;
  border-radius: 7px 7px 0 0;
  text-align: left;
}

.relatedposts-article {
  background-color: var(--color-dark-gray);

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-light-gray);
}

.relatedposts-article img {
  width: 2.5rem;
}

/* FOOTER */

footer {
  padding: 5rem 14vw;
  background-color: var(--color-foot);
  color: var(--color-white);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.footer-link:hover {
  color: var(--color-black);
}